<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MarvelApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1E74B2262BE1B505005D0190</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E74B23C2BE1B507005D0190</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E74B2462BE1B507005D0190</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
